<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLAR</title>
    <script src="https://kit.fontawesome.com/6293a1580a.js" crossorigin="anonymous"></script>
</head>
<body>

    <style>

/* Modal */
    /* Styling for modal */
/* Modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(249, 249, 249); 
}

.modal-content {
    font-family: "Poppins", sans-serif;
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 40px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 15px;
    left: 66rem;
    color: #413e3e;
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

    /* Styling for form elements */
    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .form-group input[type="text"],
    .form-group input[type="date"] {
        width: 90%;
        padding: 15px;
        border-radius: 25px;
        border: none;
        background-color: #f4f4f4;
    }

    .form-group input[type="text"],
    .form-group input[type="date"]:focus {
        outline: none;
      
    }

    .form-group input[type="checkbox"] {
        margin-top: 0px;
        /* Remove the default checkbox */
        appearance: none;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid #fcfcfc;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        margin-right: 5px;
        color: #45a049;
    }

    .form-group input[type="checkbox"] {
    margin-top: 0px;
    /* Remove the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #fcfcfc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}

/* Custom checkbox tick */
.form-group input[type="checkbox"]::before {
    content: "\2713"; /* Unicode character for checkmark */
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: transparent; /* Hide the default checkmark */
    background-color: #0b7249; /* Color of the checkmark */
    border-radius: 3px;
}

/* Checkbox checked state */
.form-group input[type="checkbox"]:checked::before {
    color: white; /* Color of the checkmark when checked */
}


    .submit-btn {
        background-color: #0b9157;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .submit-btn:hover {
        background-color: #13a86f;
    }

    select{
        border: none;
        background-color: #f4f4f4;
        width: 95%;
        padding: 15px;
        border-radius: 25px;
    }
/* Modal */



/* pop up messege */
.popup-containerForError {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: #bd1919c5;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 25px 25px 52px 2px rgba(201,201,201,0.48);
  opacity: 0;
  animation: popIn 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  z-index: 9999;
}

.popup-containerForError h4 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}
.popup-containerForError i{
  color: #fefefe;
}

@keyframes popIn {
  0% { opacity: 0; transform: translate(-50%, -50%) scale(0.7); }
  70% { opacity: 1; transform: translate(-50%, -50%) scale(1.05); }
  100% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}

@keyframes popOut {
  0% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
  100% { opacity: 0; transform: translate(-50%, -50%) scale(0.7); }
}




/* For success */
.popup-containerForSuccess {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 25px 25px 52px 2px rgba(201,201,201,0.48);
  opacity: 0;
  animation: popIn 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  z-index: 9999;
}

.popup-containerForSuccess h4 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: #10a765;
  font-weight: bolder;
}


.popup-containerForSuccess i{
  color: #10a765;;
}


/* For success */
/* pop up messege */
    </style>


<!-- Popup Messsege -->
<% if (typeof errorMessage !== 'undefined' && errorMessage.length > 0) { %>
    <div id="popupmessege" class="popup-containerForError">
        <h4><%= errorMessage %> <i class="fa-solid fa-circle-exclamation"></i></h4>
      </div>
  <% } %>

  <% if (typeof successMessage !== 'undefined' && successMessage.length > 0) { %>
    <div id="popupmessege" class="popup-containerForSuccess">
        <h4> <%= successMessage %>  <i class="fa-solid fa-circle-check"></i></h4>
      </div>
<% } %>

  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var popup = document.getElementById('popupmessege');
      setTimeout(function() {
        popup.style.animation = 'popOut 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards';
        setTimeout(function() {
          popup.remove();
        }, 300);
      }, 4000);
    });
  </script>
<!-- Popup Messsege -->




    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <form action="/editProductOffer/<%= offerData._id %>" method="post" id="modalForm">
          
          <div class="form-group">
              <label for="discount">Discount Amount:</label>
              <input type="text" id="discount" name="productOffer" value="<%= offerData.productOffer %>">
          </div>
          
       
        <%if(offerData.isActive===true){%>
        <div class="form-group">
            <input type="radio" id="isActiveTrue" name="isActive" value="true"  checked>
            <label for="isActiveTrue">Active</label>
        </div>
        <%}else{%>
            <div class="form-group">
                <input type="radio" id="isActiveTrue" name="isActive" value="true">
                <label for="isActiveTrue">Active</label>
            </div>
        <%}%>
        <%if(offerData.isActive===false){%>
        <div class="form-group">
            <input type="radio" id="isActiveFalse" name="isActive" value="false" checked>
            <label for="isActiveFalse">Inactive</label>
        </div>
        <%}else{%>
            <div class="form-group">
                <input type="radio" id="isActiveFalse" name="isActive" value="false">
                <label for="isActiveFalse">Inactive</label>
            </div>
            <%}%>
          <button type="submit" class="submit-btn">Submit</button>
      </form>
      
        </div>
      </div>
</body>
</html>