@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
   width: 100%;
   height: 100%;
   font-family: 'Poppins', sans-serif;
   background-color: rgb(255, 255, 255);
  overflow: hidden;
}




ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}



header{
    top: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.userName{
    position: absolute;
    left: 88%;
    top: 38px;
    font-weight: 500;
    font-size: 17px;
    color: rgb(34, 33, 33);
}

.userProfile{
    position: absolute;
    left: 84.6%;
    top: 31px;
    width: 2.6%;
}

.profileHeading{
    position: absolute;
    left: 26%;
    top: 30px;
    color: rgb(13, 129, 28);
}

.subheading{
    position: absolute;
    left: 23%;
    top: 60px;
    font-weight: 400;
    font-size: 15px;
    color: rgb(51, 49, 49);
}

.leftBar{

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 160px;
    left: 7px;
    background-color: rgb(255, 255, 255);
    width: 160px;
    justify-content: center;
    
}

.leftBar a{
    
margin-bottom: 50px;
margin-left: 20px;
color: rgb(18, 116, 9);
font-weight: 600;
font-size: 16px;
background-color: rgba(255, 255, 255, 0.961);
border-radius: 20px;
background: #ffffff;
box-shadow:  14px 14px 28px #c2bfbf36,-14px -14px 28px #ffffff;
height: 30px;
padding-top: 14px;
padding-left: 19px;
height: 50px;
transition: background-color .50s ease, color 0.3s ease;
}

.leftBar a:hover{
    background-color: rgba(2, 108, 34, 0.228);
    color: rgba(5, 87, 5, 0.973);
}
.leftBar i{

    margin-right: 16px;
}

.center{
    position: relative;
    background-color: rgba(231, 231, 231, 0.374);
    background-repeat: no-repeat;
    height: 580px;
    width: 1290px;
    left: 200px;
    bottom: -100px;
    border-radius: 30px;
    
     

}

.card1{
 
    position: absolute;
    height: 490px;
    width: 980px;
    border-radius: 30px;
    top: 46px;
    left: 99px;
    background-color: #fdfdfd;
    box-shadow: 10px 10px 20px rgba(37, 36, 36, 0.057);

}
.leafBg{
    filter: blur(3px);
  
}



.shopIcon{
    top: 21px;
    left: 30px;
    position: absolute;
    width: 100px;
}

.dark-mode {
    background-color: black;
    color: white; 
}

.dark-mode .leftBar a {
    background-color: #000000;
    color: rgb(8, 184, 43); 
    box-shadow:  14px 14px 28px #c2bfbf00,-14px -14px 28px #ffffff00;

}
.dark-mode .leftBar a:hover {
    color: rgb(255, 255, 255); 
    background-color: rgb(26, 25, 25);
    box-shadow:  14px 14px 28px #c2bfbf00,-14px -14px 28px #ffffff00;

}

.dark-mode .profileHeading,
.dark-mode .subheading {
    color: rgb(232, 226, 226); 
}

.dark-mode .center{

    background-color: #171616;
}
.dark-mode .profileHeading {
    color:rgb(5, 114, 27);
}

.dark-mode .shopIcon {
    filter: invert(1);
    background: none;
} 

.dark-mode .button {
    background-color: #f3f2f2c1;
    color: #000000;
}

.dark-mode .notification:before {
    background: #f3f2f2c1;
    
}

.dark-mode .notibody{
  color: black;
}

.dark-mode .NameOfTheUser{
  color: black;
}

.dark-mode .user-card{
  background-color: #c5c0c0;
}

.dark-mode .referralCode{
    color: #000000;
}
/*  */
/* switch settings */

.ui-switch {
    /* switch */
    position: absolute;
    top: 145px;
    left: 1400px;
    z-index: 1;
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 55px;
    --switch-height: 25px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(5, 114, 27);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }
/*  */




.card {
    position: relative;
    left: 50px;
    top: 40px;
    background-color: #137241;
    border-radius: 28px;
   margin-bottom: 14px;
    padding: 20px;
    height: 150px;
    max-width:300px;
    width: 100%;
}

.heading{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 30px;
    left: 50px;
}
.heading span{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 40px;
    
}
.fa-receipt{
    position: absolute;
    top: 14px;
    color: #0ec43e;
    left: 10rem;
    font-size: 60px;
}

.couponcode{
    position: relative;
    top: 1.8rem;
    font-weight: 500;
    left: -37px;
    font-size: 13px;
    color: #d3d3d3;
}

.expireDate{
  position: absolute;
  color: #d3d3d3;
  font-size: 12px;
  top: 7.5rem;
  left: 1.9rem;
}

/* popupMessege */
.popup-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0c713a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    display: none;
}
/* popupMessege */





/* Refferal */
.referral-card {
    position: relative;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: 1;
    left: 53rem;
    bottom: 24.6rem;
    font-family: 'Poppins', sans-serif;
  }
  .referral-header {
    background-color: #137241;
    color: #fff;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.60s ease;
  }
  .referral-header h2 {
      font-size: 19px;
  }
  .referral-body {
    padding: 20px;
    max-height: 500px;
    overflow: hidden;
    background-color: #137241;
    transition: max-height 0.60s ease;
  }
  .referral-body.show {
    height: 900px; 
  }
  .referral-body p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(243, 243, 243);
  }
  .referral-code {
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  .referral-code:hover {
    background-color: #e5e5e5;
  }
  .referral-instruction {
    font-size: 14px;
    text-align: center;
  }
  .referral-popup {
    visibility: hidden;
    opacity: 0;
    background-color: #137241;
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .referral-popup.show {
    visibility: visible;
    opacity: 1;
  }
/* Refferal */






/* Tool tip */

.tooltip{
  z-index: 10;
  width: 16rem;
  padding: 3rem;
 
}

.tooltiptext {
  visibility: hidden;
  font-size: 14px;
  width: 180px;
  background-color: #f5f5f5;
  color: #19a551;
  text-align: center;
  border-radius: 29px;
  box-shadow: 25px 25px 52px 2px rgba(144, 144, 144, 0.48);
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  left: 86.3%;
  opacity: 0;
  transition: opacity 0.3s;
  animation: tooltip-pop-in 0.30s ease forwards;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  animation: tooltip-text-pop-in 0.30s ease forwards;
}


@keyframes tooltip-pop-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tooltip-text-pop-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}
/* Tool tip */