

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body{

  font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 100%;

}


/* scrollbar */
body::-webkit-scrollbar {
  width: 9px; 
  height: 5px;
}


body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


body::-webkit-scrollbar-thumb {
  background: #04935a;
   border-radius: 10px;
}


body::-webkit-scrollbar-thumb:hover {
  background: #03b266; 
}
/* scrollbar */





.shopIcon{
  width: 130px;
  position: relative;
  bottom:1px;
  left: 30px;
  height: auto;
}

.Banner{
 background-color: #EDE9E8;
 width: 100%;
 position: relative;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}
.energy{
    font-weight: 1000;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.805);
    position: absolute;
    top:71%;
    left: 77%;
    transform: translate(-50%, -50%);
}

.polar{
    font-weight: bolder;
    font-size: 90px;
    color: #007625c6;
    position: absolute;
    top: 45%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.can{
  position: relative;
  width:50%;
  height: 50%;
  bottom:50px;
  top: 0px;
  left: 360px;
}

#navbar{
  /* background-color: #000000; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
  /* background-color: rgba(1, 1, 1, 0.062);  */
  /* backdrop-filter: blur(2.5px); */
}
.navbar-nav li {
  margin-right: 40px; /* Adjust the value as needed */
}

.navbar-nav.me-auto.mb-2.mb-lg-0 {
  margin-left: 160px;
 }

.searchbox{
    height: 41.6px;
  color: rgb(0, 0, 0);
  border-radius: 25px;
  border-color: rgba(0, 0, 0, 0.24);
  /* border-width: 1px 1px; */
  background-color: rgba(255, 255, 255, 0);
  padding-left: 16px
}
.searchBtn{
  font-size: 12px;
  width :80px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: green;
  color: white;
}
.d-flex{
   
  margin-right: 40px;

}

.card-img-top{
  width:65%;
  top: -40px;
  bottom: 60px;
  left: -243px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
  position: relative;
  
}

.card{
  background-color: #e8e8e8;
}

/* #productbg{
  height: 390px;
  width: 350px;
  
 } */

 
 #productbg{
  height: 390px;
  width: 350px;
  /* right: 578px;
  top: 795px; */
 }



 
 .imgbox{
  display: flex;
  align-items: center;
  position: relative;
  top: 50px;
  right: 12px;
 
  
 }




#t1{

  background : none;
}

.btn.cart{
  background-color: rgb(172, 173, 172);
  font-size: 14px;
  padding: 9px 15px;
  color: #000;
  border-radius: 20px;

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: rgb(72, 76, 122);
  font-size: 14px;
  height: 38px;
  
  border-radius: 50px;
  background-image: linear-gradient(180deg,#fff,#f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
  
}

.btn.cart:hover{
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}

.btn.buy{
  margin-left: 10px;
  background-color: #228B22;
  font-size: 14px;
  padding: 9px 20px;
  color: #ffffff;
  border-radius: 20px;               
  display: inline-block;
                outline: 0;
                border: 0;
                cursor: pointer;
                height: 38px;
                border-radius: 50px;
                box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
                transition: all .2s ease-out;

}

.btn.buy:hover{
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}
.sort{

  background-color: rgba(118, 118, 118, 0.167);
  border-radius: 18px;
}
.sort1{

  background-color: rgba(157, 157, 157, 0.185);
  border-radius: 18px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 80px;
  color: white;

}

.footer-section ul{

  list-style-type: none;
   margin-top: 19px;
   margin-right: 250px;
   
}


.footer-section h3{

  margin-top: 19px;
  margin-right: 300px;
}


.heart1{
  position: absolute;
  left: 21.3%;
  top:106%;
  background: url(http://i.imgur.com/sREcOjj.png);
  background-position: 0 0;
  cursor: pointer;
}
.heart2{
 
  cursor: pointer;
}
.add {
  animation: add-to-wishlist 1.1s steps(65);
  background-position: -4160px 0;
  transition: background 1.1s steps(65);
}

.remove {
  animation: remove-from-wishlist 0.5s steps(30);
  background-position: -6080px 0;
  transition: background 0.5s steps(30);
}

@keyframes add-to-wishlist {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -4160px 0;
  }
}

@keyframes remove-from-wishlist {
  0% {
    background-position: -4160px 0;
  }
  100% {
    background-position: -6080px 0;
  }
}


/* Sort */
.dropdown {
  position: relative;
  display: inline-block;
  transition: box-shadow 3.1s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 25px;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 3.3s ease;
  left: 20px;
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 25px;
  color: #099d5d;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropbtn{
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  color: rgb(90, 84, 84);
  height: 30px;
  position: absolute;
  left: 40px;
  width: 70px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .3);
 font-size: 13px;
 padding-top: 4px;
}
/* Sort */


/* Offer Banner */

.banner {
  background-color: #19ae73; 
  padding: 20px;
  text-align: center;
  display: none; /* Initially hiding the banner */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999; /* Ensure the banner is above other content */
  /* border-radius: 5px;  */
    border-bottom-left-radius: 30px; /* Set bottom-left border radius to 0 */
    border-bottom-right-radius: 30px; 
}

.banner-content {
  max-width: 600px;
  margin: 0 auto;
  position: relative; 
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #ffffff;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #174e30;
}

.btn455 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #089b4a; 
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.btn455:hover {
  background-color: #d4940b; 
}

.close-btn {
  position: absolute;
  top: -20px;
  left: 60rem;
  font-size: 54px;
  color: #e8e8e8;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff0000;
}

.footerofBanner {
  font-size: 14px;
  margin-top: 20px;
  color: #2c2b2b;
}

.footerofBanner a {
  color: #2d2c2c;
  text-decoration: none;
}

.footerofBanner a:hover {
  text-decoration: underline;
}

/* Party Popper Animation */
.party-popper1 {
  width: 400px;
  height: 400px;
  background-image: url('/img/PartyPopper.png'); 
  background-size: cover;
  position: absolute;
  bottom: 10px;
  left: -20%;
  transform: translateX(-50%);
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 999; 
}
.party-popper2 {
  width: 400px;
  height: 400px;
  background-image: url('/img/PartyPopper.png'); 
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 100%;
  transform: translateX(-50%);
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 999; 
}
.party-popper1 {
  animation-name: party-popper-1;
}

.party-popper2 {
  animation-name: party-popper-2;
}

@keyframes party-popper-1 {
  0% {
      opacity: 0;
      transform: translateX(-50%) scale(0);
  }
  50% {
      opacity: 1;
      transform: translateX(-50%) scale(1.2);
  }
  100% {
      opacity: 1;
      transform: translateX(-50%) scale(1);
  }
}

@keyframes party-popper-2 {
  0% {
      opacity: 0;
      transform: translateX(-50%) scale(0);
  }
  50% {
      opacity: 1;
      transform: translateX(-50%) scale(1.2);
  }
  100% {
      opacity: 1;
      transform: translateX(-50%) scale(1);
  }
}
/* Offer Banner */





/* Meadia query */
@media only screen and (max-width: 767px) {
  
 
}
/* Meadia query */