@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
   width: 100%; 
   height: 100%;
   font-family: 'Poppins', sans-serif;
   background-color: rgb(255, 255, 255);
}
/* Your existing CSS */



ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}



header{
    top: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.userName{
    position: absolute;
    left: 88%;
    top: 38px;
    font-weight: 500;
    font-size: 17px;
    color: rgb(34, 33, 33);
}

.userProfile{
    position: absolute;
    left: 84.6%;
    top: 31px;
    width: 2.6%;
}

.profileHeading{
    position: absolute;
    left: 26%;
    top: 30px;
    color: rgb(13, 129, 28);
}

.subheading{
    position: absolute;
    left: 23%;
    top: 60px;
    font-weight: 400;
    font-size: 15px;
    color: rgb(51, 49, 49);
}

.leftBar{

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 160px;
    left: 7px;
    background-color: rgb(255, 255, 255);
    width: 160px;
    justify-content: center;
    
}

.leftBar a{
    
margin-bottom: 50px;
margin-left: 20px;
color: rgb(18, 116, 9);
font-weight: 600;
font-size: 16px;
background-color: rgba(255, 255, 255, 0.961);
border-radius: 20px;
background: #ffffff;
box-shadow:  14px 14px 28px #c2bfbf36,-14px -14px 28px #ffffff;
height: 30px;
padding-top: 14px;
padding-left: 19px;
height: 50px;
transition: background-color .50s ease, color 0.3s ease;
}

.leftBar a:hover{
    background-color: rgba(2, 108, 34, 0.228);
    color: rgba(5, 87, 5, 0.973);
}
.leftBar i{

    margin-right: 16px;
}


.center{
    
    align-items: center;
    position: relative;
    background-color: rgba(231, 231, 231, 0.374);
    overflow-y: scroll;
    height: 600px;
    width: 1290px;
    left: 200px;
    bottom: -100px;
    border-radius: 30px;

}




.shopIcon{
    top: 21px;
    left: 30px;
    position: absolute;
    width: 100px;
}



.dark-mode {
    background-color: black;
    color: white; 
}

.dark-mode .leftBar a {
    background-color: #000000;
    color: rgb(8, 184, 43); 
    box-shadow:  14px 14px 28px #c2bfbf00,-14px -14px 28px #ffffff00;

}
.dark-mode .leftBar a:hover {
    color: rgb(255, 255, 255); 
    background-color: rgb(26, 25, 25);
    box-shadow:  14px 14px 28px #c2bfbf00,-14px -14px 28px #ffffff00;

}

.dark-mode .profileHeading,
.dark-mode .subheading {
    color: rgb(232, 226, 226); 
}

.dark-mode .center{

    background-color: #171616;
}
.dark-mode .profileHeading {
    color:rgb(5, 114, 27);
}

.dark-mode .shopIcon {
    filter: invert(1);
    background: none;
} 

.dark-mode .button {
    background-color: #f3f2f2c1;
    color: #000000;
}

.dark-mode .notification:before {
    background: #f3f2f2c1;
    
}

.dark-mode .notibody{
  color: black;
}

.dark-mode .NameOfTheUser{
  color: black;
}

.dark-mode .user-card{
  background-color: #c5c0c0;
}
/*  */
/* switch settings */

.ui-switch {
  /* switch */
  position: absolute;
  top: 145px;
  left: 1400px;
  z-index: 1;
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 55px;
  --switch-height: 25px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(5, 114, 27);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}








.empty-order{
  position: relative;
  top: 14rem;
  left: 28rem;
  font-size: 40px;
  color: #282727;
}

.AddAnother{

  position: absolute;
  left: 30rem;
  border: none;
  top: 30rem;
  box-shadow: 10px 10px 20px rgba(37, 36, 36, .057);
  background-color: rgba(7, 150, 57, 0.708);
  color: white;
}


button {
  --primary-color: #d2d0d0;
  --secondary-color: #000000;
  --hover-color: #dae0e6;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  color: rgb(44, 40, 40);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-left:40px ;
  margin-top:20px ;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
 
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
  
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  
  right: 0;
}


/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto ;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #0c905d;
  margin:9% auto;
  padding: 40px;
  border: none;
  border-radius: 25px;
  width: 80%;
  max-width: 500px;
  overflow: hidden;
}
.modal-content h2{
  font-weight: 600;
  color: white;
}
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: 500;
  position: relative;
  bottom: 1rem;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Form CSS */
form {
  margin-top: 20px;
}
label {
  display: block;
  margin-bottom: 0px;
  font-weight: 500;
  color: white;
}
input[type="radio"] {
  margin-right: 0px;
  margin-bottom: 0;
}
button[type="submit"] {
  
  border: 0;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  padding: 1em 2.8em;
  background-color: #039933;
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  transition: 0.2s background;
  font-weight: bold;
}
button[type="submit"]:hover {
  background-color: #277f4d;
}

.reasonInput{
 
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #efefef;
  color: #000;
  margin-bottom: 10px;

}





.radio-container {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  padding-left: 35px; /* Adjust this value to increase or decrease the size */
  margin-right: 15px;
  cursor: pointer;
  font-size: 16px; /* Adjust font size */
  user-select: none;
}

/* Hide the default radio button */
.radio-container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px; /* Size of the radio button */
  width: 25px; /* Size of the radio button */
  background-color: #eee; /* Color of the radio button */
  border-radius: 50%; /* Make it round */
}

/* On mouse-over, add a grey background color */
.radio-container:hover input[type="radio"] ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input[type="radio"]:checked ~ .checkmark {
  background-color: #0da96a;
}

/* Create the radio button indicator */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the radio button indicator when checked */
.radio-container input[type="radio"]:checked ~ .checkmark:after {
  display: block;
}

/* Style the radio button indicator */
.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px; /* Size of the indicator */
  height: 12px; /* Size of the indicator */
  border-radius: 50%; /* Make it round */
  background: white; /* Color of the indicator */
}
/* Modal */





/* Cardlong */

.contents{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 5rem;
  align-items: center;
  justify-content: center;
  align-items: center;
  border-left: 8px solid #07a764b3;
  /* border-bottom: 2px solid rgb(232, 232, 232); */
  /* border-top: 2px solid rgb(232, 232, 232); */
  border-radius: 0px;
  height: auto;
  /* margin-bottom: 9rem; */
}
.cardLarge {
  display: flex;
  align-items: center;
  width: 45rem;
  position: relative;
  height: 9rem; 
  margin-bottom: 1.2rem;
  left: 5rem;
  border-radius: 1.90rem;
  box-shadow:  22px 22px 44px #cecece99,
  -22px -22px 44px #ffffff;
  background-color: #ffffff;
}

.orderId{
  position: relative;
  bottom: 31.3rem;
  left: -11rem;
  color: #05805b95;
}
.productImg{
  width: 5rem;
  object-fit: cover;
  margin-left: 2rem;
}

.productImg img{
  width: 5rem;
  object-fit: cover;
  background-color: #e6e6e6;
  border-radius: 20px;
  
}
.productDetails{
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.productDetails h4{
  color: #0c905d;
  font-weight: 600;
  margin-top: -2rem;
}
.productDetails p{
  font-size: 14px;
}
.productDetails .qty{
  position: relative;
  bottom: 2rem;
  font-size: 14px;
  left: 24.5rem;
}

.more{ 
  
  display: flex;
  position: absolute;
  left: 40rem;
  bottom: 6rem;
}

.more i{
  font-size: 21px;
  
}

.status{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   left: 15rem;
   top: 2rem;
}
.status p{
  font-size: 13px;
  background-color: #039953aa;
  padding: 4px 10px;
  border-radius: 23px;
  color: #efefef;
}

/* More option */


.more-options {
  width: 10rem;
  display: none;
  position: absolute;
  top: calc(100% + -20px);
  left: -3rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 100;
}

.more-options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.more-options ul li {
  border-bottom: 1px solid #f1f1f1;
}

.more-options ul li:last-child {
  border-bottom: none;
}

.more-options ul li a {
  font-size: 14px;
  display: block;
  padding: 10px 20px;
  color: #656565;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.more-options ul li a:hover {
  background-color: #f5f5f5;
}
/* More option */
/* Cardlong */

/* Cancel button */
.cancelBtn{
  background-color: transparent;
  padding: 10px;
}

.cancelBtn:hover{
  background-color: transparent;
}
/* Cancel button */




/* Pagination */
.pagination {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.pagination a {
  padding: 4px 7px;
  background-color: #11a24b;
  color: #ffffff;
  text-decoration: none;
  border: none;
  font-size: 12px;
  border-radius: 23px;
  margin-right: 5px;
  position: fixed;
  left: 80rem;
  bottom: 4rem;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .prev {
  margin-right: 4rem;
}

.pagination .next {
  margin-left: 5.4rem;
}

/* Pagination */

