/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* filter: blur(1px); */
  background-position: center;
  background-size: cover;
  background-image:url('/img/download\ \(3\).jpeg');
}
/* body {
 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: #04a843;
  backdrop-filter: blur(100px);
} */

:where(.container, form, .input-field, header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  height: 390px;
  width: 390px;
  background: #ffffff28;
  padding: 30px 65px;
  margin-top: 180px;
  margin-left: 560px;
  border-radius: 25px;
  padding-bottom: 0px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.299);
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(9px);
  
}
.container header {
  height: 65px;
  width: 65px;
  background: #04a84363;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
}
.container h4 {
  font-size: 1.25rem;
  color: #e7e7e7;
  font-weight: 500;
}
form .input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field input {
  height: 45px;
  width: 42px;
  border-radius: 13px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: none;
  /* border: 1px solid #ddd; */
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 25px;
  pointer-events: none;
  background: #04a843;
  transition: all 0.2s ease;
}
form button.active {
  background: #04a843;
  pointer-events: auto;
}
form button:hover {
  background: #04a8439c;
  color: rgb(255, 255, 255);
}
#resendOTP{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.808);
  border: none;
  background-color:rgba(255, 255, 255, 0);
 position: relative;
}

.Errormsg{
  font-size: 11px;
  font-weight: 200;
  top: 10px;
  left: 60px;
  width: 450px;
  position: absolute;
  color: white;
}

#otp-timer{
  color: rgba(255, 255, 255, 0.808);
}

