@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    background-image: url("/img/Leaf\ bg.png");
    background-repeat: no-repeat;
}
.card{
 position: relative;
  width: 300px;
  height: 25pc;
  background-color: rgba(255, 255, 255, 0.308);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 28px;
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.114);
  left: 270px;
  top: -290px;
  padding: 25px;
  box-sizing: border-box;
}

.imgMain{
  z-index: 1;
  position: absolute;
  width: 250px;
  bottom: -80px;
  left: 306px;

}

.Main{
  bottom: 100px;
  position: relative;
}

.discription h1{
position: absolute;
bottom: -145px;
width: 545px;
height: 260px;
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.183);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(19px);
  z-index: -1;
}
.discription{

 position: absolute;
  width: 490px;
  height: 65px;
  left: 700px;
  bottom: 90px;
  color: #205720;
  
}
.cardsm{
  position: relative;
  display: flex;
  top: 399px;
 
}
.card1{
  position: relative;
  margin-right: 20px;
  width: 100px;
  height: 110px;
  top: 133px;
  left: -46px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(19px);
}

.cartBtn{
  position: relative;
  left:58rem;
  z-index: 2;
  bottom: -653px;
  background-color: rgb(172, 173, 172);
  font-size: 14px;
  padding: 9px 15px;
  color: #000;
  border-radius: 20px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: rgb(72, 76, 122);
  font-size: 14px;
  height: 38px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#fff,#f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
  
}

.cartBtn:hover{
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}

.BuyBtn{
  position: relative;
  z-index: 2;
  left: 750px;
  top: 692px;
  margin-left: 60px;
  background-color: #228B22;
  font-size: 14px;
  padding: 9px 20px;
  color: #ffffff;
  border-radius: 20px;               
  display: inline-block;
                outline: 0;
                border: 0;
                cursor: pointer;
                height: 38px;
                border-radius: 50px;
                box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
                transition: all .2s ease-out;

}

.BuyBtn:hover{
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}
.text-center{
  margin-top:70px ;
}
.wishlist{
  position: relative;
  left: 810px;
  top: 331px;
  background-color: rgb(172, 173, 172);
  font-size: 14px;
  padding: 9px 15px;
  color: #1aff00;
  border-radius: 20px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: rgb(40, 128, 49);
  font-size: 14px;
  height: 38px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#fff,#f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
  

}

.wishlist:hover{
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}

.imgsm{
position: relative;
  z-index: 1;
  width: 80px;
  bottom: -640px;
  left: 260px;
  margin-right: 46px;
  margin-left: 4px;
}
.imgsm1{

  display: flex;
}

.priceProduct{

  position: absolute;
  top: 690px;
  left:884px;
  font-size: 26px;
  color: #205720;;
  
}
.buttonss{
  position: relative;
  top: 50px;
}