<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/checkOut.css">
    <script src="https://kit.fontawesome.com/1069728e6a.js" crossorigin="anonymous"></script>

</head>
<body>
    



  <button class="btn open-form">New Address</button>
  <div class="form-popup">
      <div class="container form-wrapper">
          <button class="btn close-form"><i class="fa-solid fa-xmark"></i></button>
          <form  action="/addAddress" method="post"  id="my-form" novalidate="novalidate">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h1 class="form-title">New Address</h1>
                  </div>
              </div>
              <div class="row">
                  <div class="firstRow">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name" required="">
                  </div>
                  <div class="firstRow">
                      <label for="phone">Phone</label>
                      <input type="text" class="form-control" id="phone" name="phone" required="">
                  </div>
              </div>
              <div class="row">
                  <div class="secondRow">
                      <label for="address">Address</label>
                      <input type="text" class="form-control" id="address" name="address" required="">
                  </div>
                  <div class="secondRow">
                      <label for="pincode">Pincode</label>
                      <input type="text" class="form-control" id="pincode" name="pincode" required="">
                  </div>
              </div>
              <div class="row">
                  <div class="thirdRow">
                      <label for="locality">Locality</label>
                      <input type="text" class="form-control" id="locality" name="locality" required="">
                  </div>
                  <div class="thirdRow">
                      <label for="state">State</label>
                      <input type="text" class="form-control" id="state" name="state" required="">
                  </div>
                  <button type="submit" class="btn send-form">Send</button>
              </div>
              
          </form>
      </div>
  </div>




     <section class="main"> 
      <form id="app-cover">
      <a href="/cart">
         <i class="fa-solid fa-arrow-left"></i>
      </a>
       
       <div class="choosePayment">
        <h3 class="choosePaymentHeading">
            Choose payment method
        </h3>
        <div class="paymentMethods">
          <div class="aTag">
              <input type="radio" name="paymentMethod" id="debit-credit-card" class="debit-creadi">
              <label for="debit-credit-card">Debit / Credit Card <i class="fa-regular fa-credit-card"></i></label>
          </div>
          <div class="aTag">
              <input type="radio" name="paymentMethod" id="internet-banking" class="internetBanking">
              <label for="internet-banking">Internet Banking <i class="fa-solid fa-building-columns"></i></label>
          </div>
          <div class="aTag">
              <input type="radio" name="paymentMethod" id="upi" class="upi">
              <label for="upi">Upi<i class="fa-brands fa-google-pay"></i></label>
          </div>
          <div class="aTag">
              <input type="radio" name="paymentMethod" id="cash-on-delivery" class="rupay">
              <label for="cash-on-delivery">Cash on delivery<i class="fa-solid fa-earth-americas"></i></label>
          </div>
          <div class="aTag" id="addicon">
              <input type="radio" name="paymentMethod" id="add-another-option" class="addAnotherOption">
              <label for="add-another-option"><i class="fa-solid fa-plus"></i>Add Another Option</label>
          </div>
      </div>
      

       <section class="center">

      
          <div id="select-box">
            <input type="checkbox" id="options-view-button">
            <div id="select-button" class="brd">
              <div id="selected-value">
                <span>Select Address</span>
              </div>
              <div id="chevrons">
                <i class="fas fa-chevron-down"></i>
              </div>
            </div>
            <div id="options">
              
              <% addressData.forEach((address) => { %>
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="codepen">
                    <input class="s-c bottom" type="radio" name="platform" value="codepen">
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="label"><%= address.address %></span>
                </div>
            <% }); %>
             
              <div id="option-bg"></div>
            </div>
          </div>
        


     <!-- Pop Up Section -->

     <div class="success-message">
         <h1>You successfully reset this form</h1>
     </div>
     <!-- Pop Up Section -->

     <!-- <div class="couponInput">
      <input type="text" placeholder="Coupon code" name="coupon">
     </div> -->
    </section>


     <section class="righSideSummary">
      <div class="elements">
        <h3 class="cartHeading">Products</h3>
        <% cartData.forEach((cart) => { %>
        <div class="productDetails">
          <div class="imageBox">
                      <img src="<%=cart.productImage%>" alt="">
          </div>
          <div class="productName-price">
            <h4 class="productName"><%=cart.productName%></h4>
            <h4 class="productPrice">$<%=cart.price%></h4>
          </div>
        </div>
        <% }); %>
      </div>
      
      <button type="submit" class="buyButton">
        Buy Now
        <div class="arrow-wrapper">
            <div class="arrow"></div>
    
        </div>
    </button>
  </form>
     </section>



     










     </section>


     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script>
       $(document).ready(function() {
         $('.open-form').click(function() {
           $('.form-popup').show();
         });
         $('.close-form').click(function() {
           $('.form-popup').hide();
         });
     
         $('.reset-form').click(function() {
           $('.success-message').show();
           $('#my-form')[0].reset(); // Reset the form using [0] to access the native DOM element
     
           setTimeout(function() {
             $('.success-message').hide();
           }, 1500);
         });
     
         $(document).mouseup(function(e) {
           var container = $(".form-wrapper");
           var form = $(".form-popup");
     
           if (!container.is(e.target) && container.has(e.target).length === 0) {
             form.hide();
           }
         });
       });
     </script>
     

</body>
</html>