<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>POLAR</title>
    <link rel="stylesheet" href="/stylesheet/forgetPasswordVerify.css" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6293a1580a.js" crossorigin="anonymous"></script>
   <script src="/script.js" defer></script>

  </head>
  
  <body>
   
    <div class="container">
      <% if (typeof message !== 'undefined') { %>
        <div class="Errormsg">
          <h3 ><%= message %></h3>
        </div>
      <% } %>
      <header>
        <i class="fa-solid fa-circle-check"></i>
      </header>
      <h4>Verify Email</h4>
      <p>Enter the pin sent to your email</p>
      <form action="/verifyEmailCode" method="POST">
        <div class="input-field">
          <input type="number" name="n1"/>
          <input type="number"  name="n2" disabled/>
          <input type="number" name="n3" disabled/>
          <input type="number" name="n4" disabled/>
        </div>
        <button class="active">Verify</button>
      </form>
       <!-- <div id="otp-timer"></div> -->
      
        <a href="/forgetPassword">Back to Email Verification</a>
      

    </div>

  </body>
</html>